---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import FoodShowcase from '../components/FoodShowcase.astro';
import RoomsPreview from '../components/RoomsPreview.astro';
import History from '../components/History.astro';
import Events from '../components/Events.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Hotel y Restaurante El Pantano | Jalapa, Nicaragua">
	<Navbar />
	<main>
		<Hero />
        <Features />
        <FoodShowcase />
        <RoomsPreview />
        <History />
        <Events />
	</main>
	<Footer />
</Layout>